<h2 ng-show="!editTitle">{{photo.title}} <span class="glyphicon glyphicon-pencil" ng-show="photo.canEdit" type="button" ng-click="showEditForm()"></span></h2>
    <form role="form"
          action=""
          name="form"
          ng-show="editTitle"
          novalidate>
          <div class="form-group">
          <input type="text" class="form-control" ng-model="photo.title">
      </div>
          <button type="submit"
                  class="btn btn-primary"
                  ng-click="updateTitle()"
                  ng-disabled="form.$invalid">Save</button>
          <button type="cancel"
                  class="btn btn-default"
                  ng-click="hideEditForm()">Cancel</button>
      </form>

<hr>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a target="_blank" class="thumbnail" title="{{photo.title}}" ng-href="uploads/{{photo.photo}}">
            <img alt="{{photo.title}}" ng-src="uploads/thumbnails/{{photo.photo}}" />
        </a>
    </div>
    <div class="col-xs-6">
        <dl>
        	<dt>Owner</dt>
            <dd><a href="#/owner/{{photo.ownerId}}/{{photo.ownerName}}">{{photo.ownerName}}</a></dd>
        	<dt>Uploaded on</dt>
            <dd>{{photo.createdAt|date:"dd/MM/yyyy"}}</dd>
            <dt ng-click="showEditTagsForm()">Tags <span ng-show="!editTags && photo.canEdit" ng-click="showEditTagsForm()" class="glyphicon glyphicon-pencil"></span></dt>
            <dd ng-show="!editTags">
                <span ng-repeat="tag in photo.tags"><a ng-href="#/search/{{tag}}">#{{tag}}</a>&nbsp;</span>
                <span ng-show="!photo.tags.length" ng-click="showEditTagsForm()">None</span>
            </dd>
            <dd ng-show="editTags">
                <form role="form"
                      action=""
                      name="tagsForm"
                      ng-show="editTags"
                      novalidate>
                      <div class="form-group">
                          <input type="text" class="form-control" ng-model="photo.taglist">
                  </div>
                      <button type="submit"
                              class="btn btn-primary"
                              ng-click="updateTags()"
                              ng-disabled="tagsForm.$invalid">Save</button>
                      <button type="cancel"
                              class="btn btn-default"
                              ng-click="hideEditTagsForm()">Cancel</button>
                  </form>


                </dd>
        </dl>
    </div>
</div>

<button type="button" ng-show="photo.canDelete" class="btn btn-danger" ng-click="deletePhoto()">Delete this photo</button>
