    <h2 ng-show="!editTitle" ng-click="showEditForm()">{{photo.title}}</h2>
    <form role="form" 
          action=""
          name="form" 
          ng-show="editTitle" 
          novalidate>
          <div class="form-group">
          <input type="text" class="form-control" ng-model="photo.title">
      </div>
          <button type="submit" 
                  class="btn btn-primary"
                  ng-click="updateTitle()" 
                  ng-disabled="form.$invalid">Save</button>
          <button type="cancel" 
                  class="btn btn-default"
                  ng-click="hideEditForm()">Cancel</button>
      </form>

<hr>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a target="_blank" class="thumbnail" title="{{photo.title}}" ng-href="uploads/{{photo.photo}}">
            <img alt="{{photo.title}}" ng-src="uploads/thumbnails/{{photo.photo}}" />
        </a>
    </div>
    <div class="col-xs-6">
        <dl>
        	<dt>Owner</dt>
            <dd>{{photo.ownerName}}</dd>
        	<dt>Uploaded on</dt>
            <dd>{{photo.createdAt|date:"dd/MM/yyyy"}}</dd>
        </dl>
    </div>
</div>

<button type="button" ng-show="canDelete" class="btn btn-danger" ng-click="deletePhoto()">Delete this photo</button>
