<div class="row">
    <div ng-show="showHeader" ng-class="{'col-md-6': showPagination, 'col-md-12': !showPagination }">
        <h2 ng-show="pageLoaded && tag"><ng-pluralize count="total" when="{'one': 'One photo', 'other': '{{total}} photos'}"></ng-pluralize> tagged #{{ tag }}</h2>
        <h2 ng-show="pageLoaded && ownerName"><ng-pluralize count="total" when="{'one': 'One photo', 'other': '{{total}} photos'}"></ng-pluralize> uploaded by {{ ownerName }}</h2>
        <h2 ng-show="pageLoaded && searchQuery"><ng-pluralize count="total" when="{'0': 'No results', 'one': 'One result', 'other': '{{total}} results'}"></ng-pluralize> for '{{ searchQuery }}'</h2>
    </div>

</div>

<hr ng-show="showHeader">

<div class="row hidden-xs hidden-sm" ng-show="showPagination">
    <div class="col-md-12">
        <pagination class="pagination" items-per-page="20" total-items="total" max-size="20" ng-model="currentPage" ng-change="nextPage()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-links="true" />
    </div>
</div>

<div class="row visible-xs visible-sm" ng-show="showPagination">
    <div class="col-md-12">
        <pager items-per-page="20" total-items="total" max-size="20" ng-model="currentPage" ng-change="nextPage()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" />
    </div>
</div>


<div class="spinner" ng-show="!pageLoaded"></div>

<div class="row" ng-show="photos.length && pageLoaded">
    <div ng-repeat="photo in photos" class="col-xs-6 col-md-3">
        <div class="thumbnail" ng-click="getDetail(photo)">
            <img alt="{{photo.title}}" class="img-responsive" ng-src="uploads/thumbnails/{{photo.photo}}" err-src="img/image-loading.png" />
            <div class="caption">
                <h3>{{photo.title|limitTo:20}}</h3>
            </div>
        </div>
    </div>
</div>


<div class="row hidden-xs hidden-sm" ng-show="showPagination">
    <div class="col-md-12">
        <pagination class="pagination" items-per-page="20" total-items="total" max-size="20" ng-model="currentPage" ng-change="nextPage()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-links="true" />
    </div>
</div>

<div class="row visible-xs visible-sm" ng-show="showPagination">
    <div class="col-md-12">
        <pager items-per-page="20" total-items="total" max-size="20" ng-model="currentPage" ng-change="nextPage()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" />
    </div>
</div>


