
<h2 ng-show="pageLoaded && ownerName">{{ total }} photos uploaded by {{ ownerName }}</h2>
<h2 ng-show="pageLoaded && searchQuery">{{ total }} search results for '{{ searchQuery }}'</h2>
<hr ng-show="pageLoaded && searchQuery">

<div class="spinner" ng-show="!pageLoaded"></div>

<div class="row" ng-show="photos.length && pageLoaded">
    <div infinite-scroll="nextPage()" infinite-scroll-distance="2">
    <div ng-repeat="photo in photos" class="col-xs-6 col-md-3">
        <div class="thumbnail" ng-click="getDetail(photo)">
            <img alt="{{photo.title}}" class="img-responsive" ng-src="uploads/thumbnails/{{photo.photo}}" />
            <div class="caption">
                <h3>{{photo.title}}</h3>
           </div>
        </div>
    </div>
</div>
