<form role="form" name="form" action="" novalidate>
    <div class="form-group">
        <input type="text" ng-model="formData.identifier" required="required" class="form-control" placeholder="Name or email address" />
    </div>

    <div class="form-group">
        <input type="password" ng-model="formData.password" required="required" class="form-control" placeholder="Password" />
    </div>

    <button class="btn btn-primary" ng-click="login()" ng-disabled="form.$invalid">Login</button>
</form>

<a href="#/recoverpass">Forgot your password?</a> or
<button class="btn btn-default btn-sm" ng-click="oauth2Login('google')">Login with Google</button>
