<ul class="pagination" ng-show="numPages > 1">
	<li ng-show="!isFirstPage"><a ng-click="nextPage(currentPage - 1)">&laquo;</a></li>
	<li ng-show="isFirstPage" class="disabled"><span>&laquo;</span></li>
	<li ng-class="{active: page==currentPage}" ng-repeat="page in pageRange"><a href="javascript:void(0);" ng-click="nextPage(page)">{{page}}</a></li>
	<li ng-show="!isLastPage"><a ng-click="nextPage(currentPage + 1)">&raquo;</a></li>
	<li ng-show="isLastPage" class="disabled"><span>&raquo;</span></li>
</ul>
