<form role="form" name="form" action="" novalidate>
    <div class="form-group"
               ng-class="{'has-error': formErrors.name}">
        <input type="name"
               ng-model="formData.name"
               required="required"
               class="form-control"
               placeholder="Name"/>
        <span class="help-block" ng-show="formErrors.name">{{formErrors.name}}</span>
    </div>

    <div class="form-group"
               ng-class="{'has-error': formErrors.email}">
        <input type="email"
               ng-model="formData.email"
               required="required"
               class="form-control"
               placeholder="Email address"/>
        <span class="help-block" ng-show="formErrors.email">{{formErrors.email}}</span>
    </div>

    <div class="form-group"
               ng-class="{'has-error': formErrors.password}">
        <input type="password"
               ng-model="formData.password"
               required="required"
               class="form-control"
               placeholder="Password"/>
    </div>

    <button class="btn btn-primary" ng-click="signup()" ng-disabled="form.$invalid">Signup</button>
</form>
