
<div class="row">
<ul class="nav nav-pills pull-right">
    <li ng-class="{active: orderField=='name'}"><a ng-click="orderTags('name')">A-Z</a></li>
    <li ng-class="{active: orderField=='-numPhotos'}"><a ng-click="orderTags('-numPhotos')">Popularity</a></li>
</ul>
</div>

<hr>

<div class="row" ng-show="tags.length">
    <div ng-repeat="tag in tags|orderBy:orderField" class="col-xs-6 col-md-3">
        <div class="thumbnail" ng-click="doSearch(tag.name)">
            <img alt="{{tag.name}}" class="img-responsive" ng-src="uploads/thumbnails/{{tag.photo}}" />
            <div class="caption">
            <h3>#{{tag.name}}</h3>
        </div>
    </div>
</div>
