<div class="row-fluid tag-control-box" ng-show="pageLoaded">
    <div class="col-md-6">
        <input class="form-control input-lg" type="text" placeholder="Find a tag" ng-model="tagFilter.name">
    </div>
    <ul class="nav nav-pills" role="tablist">
        <li ng-class=" {active: orderField=='-numPhotos' } "><a ng-click="orderTags( '-numPhotos') ">Popularity</a>
        </li>
        <li ng-class="{active: orderField=='name' } "><a ng-click="orderTags( 'name') ">A-Z</a>
        </li>
    </ul>
</div>

<div class="spinner " ng-show="!pageLoaded "></div>

<div class="row-fluid " ng-show="tags.length && pageLoaded ">
    <div ng-repeat="tag in tags|filter:tagFilter|orderBy:orderField " class="col-xs-6 col-md-3 ">
        <div class="thumbnail " ng-click="doSearch(tag.name) ">
            <img alt="{{tag.name}} " class="img-responsive " ng-src="uploads/thumbnails/{{tag.photo}} " />
            <div class="caption ">
                <h3>#{{tag.name}}</h3>
            </div>
        </div>
    </div>
</div>
