
<div class="spinner" ng-show="formDisabled"></div>

<div class="row" ng-show="!formDisabled">
    <div class="col-md-6">
        <form name="form" role="form" enctype="multipart/form-data" novalidate>

            <div class="form-group" ng-class="{'has-error': formErrors.title }">
                <label for="">Title</label>
                <input type="text"
                       ng-model="newPhoto.title"
                       required="required"
                       class="form-control"
                       placeholder="Title"/>

                <span class="help-block" ng-show="formErrors.title">{{formErrors.title}}</span>
            </div>

            <div class="form-group">
                <label for="">Tags</label>
                <input type="text"
                       ng-model="newPhoto.taglist"
                       class="form-control"
                       placeholder="Tags (separate with spaces)"/>
            </div>

            <div class="form-group" ng-class="{'has-error': formErrors.photo }">
                <label for="">Photo</label>
                <input type="file"
                       id="photo_input"
                       class="form-control"
                       files-model="newPhoto.photo">
                <span class="help-block" ng-show="formErrors.photo">{{formErrors.photo}}</span>
            </div>

            <button class="btn-submit btn"
                    type="submit"
                    ng-click="uploadPhoto(false)"
                    ng-disabled="form.$invalid || formDisabled">Upload</button>

            <button class="btn-submit btn"
                    type="submit"
                    ng-click="uploadPhoto(true)"
                    ng-disabled="form.$invalid || formDisabled">Upload &amp; add another</button>


        </form>
    </div>
    <div class="col-md-6" ng-show="upload.url">
           <div class="thumbnail">
                <img ng-src="{{upload.url}}">
            </div>
      </div>
</div>
