<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wallshare</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="application/atom+xml" rel="alternate" href="/feeds/" />
    <link rel="stylesheet" href="css/vendor.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>

<body>

    <%- markup %>
    <script src="js/vendor.js"></script>
    <script src="js/bundle.js"></script>
    <script>
    </script>
</body>

</html>
